button:hover{
	cursor: pointer;
}
.nav{
	width: inherit;
	box-shadow: 2px 0px 5px #888888;
	height:100vh;
	position: fixed;
	background: #ff6d86;
	z-index: 1;
}
.nav h2{
	padding: 15px;
	background-color: #ec4260;
	color: white;
	text-align: center;
}
.nav h2 i{
	display: none;
}
.nav ul{
	margin-top:5%;
	padding-left: 0;
}
.nav ul a{
	text-decoration: none;
	color: black;
}
.nav ul i{
	margin-right: 5%;
}
.fa{
	color: white;
}
.nav ul li{
	font-size: 20px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 10%;
	list-style-type: none;
	color: white;
}
.nav li:hover{
	background: #d25050;
	color: white;
	cursor: pointer;
}
.nav li:hover .fa{
	color: white;
}
.active{
	background: #d25050;
}
#body {
	background: white;
}
#header{
	background: #FF9F9D;
	padding: 20px;
	text-align: right;
	color: white;
}
#header i{
	margin-right: 1%;
}
#main{
	padding: 5%;
}
#tile{
	display: flex;
	color: white;
}
#count{
	background: #ffb3b3 ;
	width: 40%;
    padding: 4%;
    margin: 5% auto;
    position: relative;
    height: 120px;
    box-shadow: 1px 3px 5px #888888;
    
    font-size: 20px;
    border-radius: 1%;

}
#count span{
	display: inline;
	text-align: center;
}

#reg{
	background: #ffb3b3 ;
	width: 40%;
    padding: 3%;
    margin: 5% auto;
    position: relative;
    height: 120px;
    box-shadow: 1px 3px 5px #888888;
    
    font-size: 20px;
    border-radius: 1%;

}

button{
	width: 100px;
	border-radius: 3%;
	height: 50px;
	background-color: #f1b695;
}


table {
	width: 80%;
	margin-top: 10%;
	border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
	#navbar{
		height: 12vh;
	}
	.nav{
		height: auto;
	}
	.nav h2 i{
		display: inline;
		margin-right: 5%;
	}
	.nav h2 i:hover{
		cursor: pointer;
	}
	#tile{
		display: block;
		padding: 1%;
	}
	#count{
		width: 100%;
		padding: 12%
	}
	#reg{
		width: 100%;
		padding: 7%;
	}

}