body {
    background-color: black;
}


/*header starts here*/

a,
a:active {
    color: #0da566;
    text-decoration: none;
}

.nav-logo {
    /*for navigation logo changes, here*/
    width: 50%;
    height: 60%;
    border-radius: 50%;
}

.header {

    background-color: black;
    padding: 1.5%;
    text-align: center;
    letter-spacing: 1.8px;
}

.navigation-bar {
    margin: 20px;
}

.nav-link:hover {
    /*link text color*/
    color: white;
}

a.before:before,
a.after:after {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
}

a.before:before {
    top: -0.25em;
}

a.after:after {
    bottom: -0.25em;
}

a.before:before,
a.after:after {
    height: 5px;
    background: grey;
}

.square {
    box-sizing: border-box;
    position: relative;
    font-size: 19px;
    overflow: hidden;
}

.square a {
    padding: 0.2em 0.4em;
}

.square:before,
.square:after {
    content: "";
    box-sizing: border-box;
    transition: 0.5s all ease;
    position: absolute;
    width: 3px;
    height: 0;
    background: white;
    /*left and right line colors*/
}

.square:before {
    /*before content that is left line*/
    left: 0;
    bottom: -0.2em;
}

.square:after {
    /*after content that is right line*/
    right: 0;
    top: -0.2em;
}

.square a:before {
    left: 0;
    transition: 0.50s all ease;
}

.square a:after {
    right: 0;
    transition: 0.50s all ease;
}

.square:hover:before,
.square:hover:after {
    height: calc(100% + 0.4em);
}

.square:hover a:before,
.square:hover a:after {
    width: 100%;
    /*top and bottom line*/
}



/*header ends here*/


/*events start here*/

#canvas-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas-wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.container {
    /*margin-top: 10%;*/
}

.pallete {
    position: relative;
    margin: 5%;
}

.imgTile {
    display: block;
}
.overlayBackground{
	position: absolute;
	top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out;
}

.pallete:hover .overlayBackground {
    background: rgba(0, 186, 83, 0.6);
}

.overlayIcon {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 40%;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pallete:hover .overlayIcon {
    cursor: pointer;
    top: 40%;
    height: 100%;
}

.circle-arrow {
    color: white;
    border: solid white;
    border-radius: 50%;
}

.overlayText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4caf50;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pallete:hover .overlayText {
    height: 15%;
}

.text {
    text-align: center;
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*events end here*/


/*footer starts here*/

.footer {

    color: #0da566;
    
}

.footer-left {}

.foot-link {
    color: white;
}

.foot-link:hover {
    color: red;
}

.footer-center {}

.footer-right {}

.footer-logo {
    /*for footer logo changes, here*/
    margin: 3%;
    width: 20%;
    height: 35%;
    border-radius: 50%;
}


/*footer ends here*/