body {
    background-color: #000000;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

#headline {
    margin-top: 15%;
    background: black;
    color: white;
    font-family: 'Nova Flat';
    font-weight: bold;
    font-size: 16vmin;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse {
    margin-left: 50%;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #00bebe;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 190, 190, 0.4);
    animation: pulse 1s infinite;
    display: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 190, 190, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 1000px rgba(0, 190, 190, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 190, 190, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 190, 190, 0.4);
        box-shadow: 0 0 0 0 rgba(0, 190, 190, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 1000px rgba(0, 190, 190, 0);
        box-shadow: 0 0 0 1000px rgba(0, 190, 190, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 190, 190, 0);
        box-shadow: 0 0 0 0 rgba(0, 190, 190, 0);
    }
}

#main {
    display: none;
    background-color:black;
}


/*header starts here*/

.a_nav,
.a_nav:active {
    color: #00bebe;
    text-decoration: none;
}

.logo {
    display: flex;
    color: white;
}

.logo_text {
    color: #00bebe;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 11%;
    font-family: 'Orbitron';
    font-weight: bold;
}

.nav-logo {
    /*for navigation logo changes, here*/
    width: 50%;
    height: 60%;
    border-radius: 50%;
}

.header {
    padding: 1.5%;
    text-align: center;
    letter-spacing: 1.8px;
}

.navigation-bar {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid thin #00bebe;
    text-align: right;
}

.nav-link {
    /*link text color*/
    font-size: 20px;
}

.nav-link:hover {
    /*link text color*/
    color: white;
}

.a_nav.before:before,
.a_nav.after:after {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
}

.a_nav.before:before {
    top: -0.25em;
}

.a_nav.after:after {
    bottom: -0.25em;
}

.a_nav.before:before,
.a_nav.after:after {
    height: 5px;
    background: grey;
}

.square {
    box-sizing: border-box;
    position: relative;
    font-size: 19px;
    overflow: hidden;
    padding: 10px;
}

.square .a_nav {
    padding: 0.2em 0.4em;
}

.square:before,
.square:after {
    content: "";
    box-sizing: border-box;
    transition: 0.5s all ease;
    position: absolute;
    width: 3px;
    height: 0;
    background: white;
    /*left and right line colors*/
}

.square:before {
    /*before content that is left line*/
    left: 0;
    bottom: -0.2em;
}

.square:after {
    /*after content that is right line*/
    right: 0;
    top: -0.2em;
}

.square .a_nav:before {
    left: 0;
    transition: 0.50s all ease;
}

.square .a_nav:after {
    right: 0;
    transition: 0.50s all ease;
}

.square:hover:before,
.square:hover:after {
    height: calc(100% + 0.4em);
}

.square:hover .a_nav:before,
.square:hover .a_nav:after {
    width: 100%;
    /*top and bottom line*/
}




/*header ends here*/


/* Sponsors */

.imges {
    margin: auto;
    display: block;
}

.imges:hover {
    border: 1px solid black;
    background-color: black;
}

.header1 {
    animation-duration: 1.2s;
}

.header1 h2 {
    font-family: "Orbitron";
    color: #00bebe;
    font-size: 300%;
    text-align: center;
    margin-top: 10%;
}

.header1 h3 {
    font-family: "Orbitron";
    font-size: 300%;
    text-align: center;
}

#sm {
    position: relative;
    margin-top: -20px;
}

.btn {
    margin: auto;
    margin-top: 10%;
    width: 25%;

    font-family: "Nova Flat";

    -webkit-animation-duration: .8s;
    -webkit-animation-delay: .5s;
    /*-webkit-animation-iteration-count: infinite;*/
}



/* Sponsors ends here */


/*events start here*/

#canvas-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas-wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.container {
    /*margin-top: 10%;*/
}

.pallete {
    position: relative;
    margin: 5%;
}

.imgTile {
    display: block;
}

.overlayBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.pallete:hover .overlayBackground {
    background: rgba(0, 90, 90, 0.6);
}

.overlayIcon {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 40%;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pallete:hover .overlayIcon {
    cursor: pointer;
    top: 40%;
    height: 100%;
}

.circle-arrow {
    color: white;
    border: solid white;
    border-radius: 50%;
}

.overlayText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00bebe;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pallete:hover .overlayText {
    height: 15%;
}

.text {
    text-align: center;
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/*events end here*/


/*about us starts here */

.aboutus_heading {
    font-weight: bold;
    font-size: 70px;
    color: #00bebe;
    display: block;
    display: box;
    box-align: center;
    text-align: center;
    position: relative;
}

.desc {
    color: white;
}

.desc h3 {
    color: #00bebe;
}

.desc p {
    margin-left: 100px;
    text-align: center;
}


/* about us ends here */


/* ourteam starts here */

.ourTeam {
    position: relative;
    width: 250px;
    height: 350px;
}

.ourTeam img {
    height: 350px;
}

.teamLeftTag {
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-left: 805px;
    margin-top: -210px;
}

.teamRightTag {
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-left: 308px;
    margin-top: 128px;
}


/* ourteam ends here */


/*footer starts here*/

.footer {

    color: #00bebe;
    margin: 0px;
}

.footer-left {}

.foot-link {
    color: white;
}

.foot-link:hover {
    color: red;
}

.footer-center {}

.footer-right {}

.footer-logo {
    /*for footer logo changes, here*/
    margin: 3%;
    width: 20%;
    height: 35%;
    border-radius: 50%;
}



/*footer ends here*/

/* Mobile Phone Media Query */
@media only screen and (max-width: 768px) {
    
    #headline{
        margin-top: 50%;
    }
    .nav-logo{
        height: 10%;
        width: 30%;
    }
    .logo_text{
        font-size: 18px;
    }
    .btn{
        width: 40%;
    }
}