*{
  color: white;
}
h2, u{
 color: #00bebe; 
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
fieldset{
  padding: 50px;
}
input[type="checkbox"]{
  border: 2px solid white;
  background-color: white;
}
/*body{background-color: #00bebe;}
.w3-col{color: white;}
#user1{margin-top:13%;margin-left: 17%;}
#college{margin-top: 19%;}
#mobile{margin-top: 24%;}
#email1{margin-top: 29%;}
#user2{margin-top: 34%;}
#user3{margin-top: 45%;}
#user4{margin-top: 55.5%;}
#email2{margin-top: 39.5%;}
#email3{margin-top: 51%;}
#email4{margin-top: 60.5%;}
.form h2{
    width: 90%;
    text-align:;
    padding-left: 30%;
    background: black;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 36px;
    width: 100%;
    line-height: 90px;
    background-color: black;
 }
.form input[type="text"],
.form input[type="email"],
.form input[type="number"]
{
  width: 60%;
  border-spacing: initial;
  margin: 3px 0px;
  word-break: break-word;
  table-layout: auto;
  border-radius: 4px;
  padding: 20px 40px;
  text-align: left;
   background-color: black;
   color: white;
}
.form input[type="checkbox"]{
  margin-left:30%;
  cursor: pointer;}
input:checked {
    height: 40px;
    width: 40px;
  }
.form input[type="submit"]{
     font-size: 18px;
    font-weight: 600;
    color: white;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #3a57af; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    top: 0px;
    position: relative;
    background-color:black;
    cursor: pointer;
    color: white;
  
    border: none;
    padding: 14px 40px;
    text-transform: uppercase;
    border-radius: 50px;  
    margin-bottom: 20px;
    margin-left: 42%
}
.form input[type="submit"]:hover {
    top: 4px;
    background-color:#2e458b;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
  }

@media only screen and (min-width: 720px)
{ 


}*/