{%extends 'dash.html'%}

{%block title%}Events{%endblock%}
{%block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/dashboard.css" />
	<link rel="stylesheet" href="/css/eventPalette.css" />
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
{%endblock%}

{%block main%}

{% for event in events %}
<div class='palette'>

<div class='description'>
<div class='des'>{{ event.eventDescription|e }}</div>
<img src='/images/try.jpg' class='eventIcon'></img>

<div class='options'>
<a href='/adminPanel/events/updateEvent?id="{{event.eventId}}"'><button>Edit</button></a>
<a href='/adminPanel/events/deleteEvent?id="{{event.eventId}}"'><button>Delete</button></i></a>
</div>

</div>

</div>
{% endfor %}	
{%endblock%}