{%extends 'web/home.html'%}

    {%block stylesheets%}
	    <style type="text/css">
            .eventImage{
                width: 250px;
            }
            @media only screen and (max-width: 768px) {
                .eventImage{
                    width: 125px;
                }
            }
        </style>
    {%endblock%}
    {% block video %}{%endblock%}
    {%block main%}
        <div class="row col m12 s12 top">
            <div class="col m7 s12 white-text">
                <h2 class="animated zoomIn" style="color: #00bebe;">{{title}}</h2>
                {{tagline}}

                {{description|raw}}
            </div>
            <div class="col m4 s6 offset-s2">
                <img class="materialboxed eventImage" data-caption="{{title}} : {{tagline}}" src="/{{image}}">
            </div>
        </div>
    {%endblock%}

    {%block contactUS%}{%endblock%}
    
    {% block scripts %}
		<script type="text/javascript">
			if($(window).width() > 800){
                particlesJS.load('particles-js', '/js/particles.json', function() {
                	console.log('callback - particles.js config loaded');
            	});
            }
		</script>
	{% endblock %}