{%extends 'web/home.html'%}

    {%block stylesheets%}
	    <style type="text/css">
            *{
                color: white;
            }
            #cover{
                background: url('/images/wall.jpg');
                z-index: 0;
            }
            #ashes{
                position: absolute;
                background: url('/images/ashes.png');
                height: 500px;
                width: 90%;
                top: 200px;
                z-index: 1;
            }
            .description{
                padding-left: 5%;
                margin-bottom: 5%;
                font-size: 20px;
            }
            .eventImage{
                width: 250px;
            }
            @media only screen and (max-width: 768px) {
                .eventImage{
                    width: 125px;
                }
                .banner-text{
                    font-size: 18px;
                }
                .description{
                    font-size: 15px;
                }
            }
        </style>
    {%endblock%}
    {% block video %}{%endblock%}
    {%block main%}
    	<div class="banner" id="cover">
            <div id="ashes"></div>
            <div class="row banner-text">
                <div class="col m4 s12">
                    <h2 class="animated zoomIn" style="color: #00bebe;">{{title}}</h2>
                	{{tagline}}
                </div>
                <div class="col m4 s6 offset-s2">
                	 <img class="materialboxed eventImage" data-caption="{{title}} : {{tagline}}" src="/{{image}}">
                </div>
            </div>
            <div class="row col m12 s12">
                <div class="col m8 s12 animated jello">
                <a href="/register" class="col m4 s12 waves-effect waves-light btn"><i class="material-icons left">apps</i>Register</a>
                </div>
            </div>
        </div>
        <div class="description">
            {{description|raw}}
        </div>
    {%endblock%}

    {%block contactUS%}{%endblock%}
    
    {% block scripts %}
		<script type="text/javascript">
			$('#headline').css('display', "none");
			$('#main').css('display', "block");
			if($(window).width() > 800){
                particlesJS.load('particles-js', '/js/particles.json', function() {
                	console.log('callback - particles.js config loaded');
            	});
            }
		</script>
	{% endblock %}