{%extends 'web/home.html'%}

    {%block stylesheets%}
	    <link href="https://fonts.googleapis.com/css?family=Nova Flat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<link rel="stylesheet" href="/css/materialize.min.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/home.css" />
        <style type="text/css">
            *{
                color: white;
            }
            .description{
                text-align: center;
                margin-bottom: 5%;
                font-size: 20px;
            }
            .eventImage{
                width: 250px;
            }
            @media only screen and (max-width: 768px) {
                .eventImage{
                    width: 125px;
                }
                .banner-text{
                    font-size: 18px;
                }
                .description{
                    font-size: 15px;
                }
            }
        </style>
    {%endblock%}
    
    {%block main%}
    	<div class="banner">
            <div class="row banner-text">
                <div class="col m4 s12">
                    <h2 class="animated zoomIn">{{title}}</h2>
                	{{tagline}}
                </div>
                <div class="col m4 s6 offset-s5">
                	 <img class="materialboxed eventImage" data-caption="{{title}} : {{tagline}}" src="/{{image}}">
                </div>
            </div>
            <div class="row col m12 s12">
                <div class="col m6 s12 animated jello">
                <a href="/register" class="col m4 s12 waves-effect waves-light btn"><i class="material-icons left">apps</i>Register</a>
                </div>
            </div>
        </div>
        <div class="description">
            {{description|raw}}
        </div>
    {%endblock%}

    {%block contactUS%}{%endblock%}
    
    {% block scripts %}
		<script type="text/javascript" src="/js/particles.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>	
		<script type="text/javascript" src="/js/rwd.js"></script>
        <script type="text/javascript">
			$('#headline').css('display', "none");
			$('#main').css('display', "block");
			if($(window).width() > 800){
                particlesJS.load('particles-js', '/js/particles.json', function() {
                	console.log('callback - particles.js config loaded');
            	});
            }
		</script>
	{% endblock %}