{%extends 'web/home.html'%}

    {%block stylesheets%}
        <style type="text/css">
            .card-content img{
                width: 50%;
            }
            .card{
                background: black;
            }
            .tabs{
                background: black;
            }
            .tabs, .tab{
                height: 100px !important;
            }
            .tab img{
                height: 100%;
            }
        </style>
    {%endblock%}
    {% block video %}{%endblock%}
    {%block main%}
        <div class="top card">
            <div class="card-content center">
              <div id="test1"><img src="/images/tm (1).jpg"></div>
              <div id="test2"><img src="/images/tm (2).jpg"></div>
              <div id="test3"><img src="/images/tm (3).jpg"></div> 
              <div id="test4"><img src="/images/tm (4).jpg"></div>
              <div id="test5"><img src="/images/tm (5).jpg"></div>
              <div id="test6"><img src="/images/tm (6).jpg"></div>
              <div id="test7"><img src="/images/tm (7).jpg"></div>
              <div id="test8"><img src="/images/tm (8).jpg"></div>
              <div id="test9"><img src="/images/tm (9).jpg"></div>
              <div id="test10"><img src="/images/tm (10).jpg"></div>
              <div id="test11"><img src="/images/tm (11).jpg"></div>
              <div id="test12"><img src="/images/tm (12).jpg"></div>
              <div id="test13"><img src="/images/tm (13).jpg"></div>
              <div id="test14"><img src="/images/tm (14).jpg"></div>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#test1"><img src="/images/tm (1).jpg"></a></li>
                <li class="tab"><a href="#test2"><img src="/images/tm (2).jpg"></a></li>
                <li class="tab"><a href="#test3"><img src="/images/tm (3).jpg"></a></li>
                <li class="tab"><a href="#test4"><img src="/images/tm (4).jpg"></a></li>
                <li class="tab"><a href="#test5"><img src="/images/tm (5).jpg"></a></li>
                <li class="tab"><a href="#test6"><img src="/images/tm (6).jpg"></a></li>
                <li class="tab"><a href="#test7"><img src="/images/tm (7).jpg"></a></li>
                <li class="tab"><a href="#test8"><img src="/images/tm (8).jpg"></a></li>
                <li class="tab"><a href="#test9"><img src="/images/tm (9).jpg"></a></li>
                <li class="tab"><a href="#test10"><img src="/images/tm (10).jpg"></a></li>
                <li class="tab"><a href="#test11"><img src="/images/tm (11).jpg"></a></li>
                <li class="tab"><a href="#test12"><img src="/images/tm (12).jpg"></a></li>
                <li class="tab"><a href="#test13"><img src="/images/tm (13).jpg"></a></li>
                <li class="tab"><a href="#test14"><img src="/images/tm (14).jpg"></a></li>
              </ul>
            </div>
          </div>
    {%endblock%}
    {%block contactUS%}{%endblock%}
    {% block scripts %}
    {% endblock %}