<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/home.css" /> {% endblock %}
</head>

<body>
    <div id="canvas-wrap">
	    <div id="particles-js"></div> 
    {% block header%}
    <header class="row header">
        <div class="col-2">
            <img src="../images/Ad Mad.jpg" class='nav-logo'></img>
        </div>
        <div class="col-8">
            <div class="navigation-bar">
                <span class="square"><a class="nav-link tenth before after" href="#">Home</a></span>
                <span class="square"><a class="nav-link tenth before after" href="#">Events</a></span>
                <span class="square"><a class="nav-link tenth before after" href="#">Schedule</a></span>
                <span class="square"><a class="nav-link tenth before after" href="#">About us</a></span>
                <span class="square"><a class="nav-link tenth before after" href="#">Register</a></span>
                <span class="square"><a class="nav-link tenth before after" href="#">Contact us</a></span>
            </div>
        </div>
        <div class="col-2">
            <img src="../images/Ad Mad.jpg" class='nav-logo'></img>
        </div>
    </header>
    {% endblock %} {% block events %}
    
        <div class="container">
            {% for eventBatch in events|batch(3) %}
            <div class="row">
                {% for event in eventBatch %}
                <div class="pallete">
                    <img src="/{{ event.eventImage|e }}" class="responsive-img imgTile" />
                    <div class="overlayBackground"></div>
                    <div class="overlayIcon"><i class="medium circle-arrow material-icons">arrow_forward</i></div>
                    <div class="overlayText">
                        <div class="text"><b>{{ event.eventName }}</b>
                            <br/>{{ event.eventTagline }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endblock %} {% block footer%}
    <footer class="row footer">
        <div class="col-4 footer-left">
            <img src="../images/Ad Mad.jpg" class='footer-logo'></img>
            <div class="footer-links">
                <a class="foot-link" href="#">Home |</a>
                <a class="foot-link" href="#">Events |</a>
                <a class="foot-link" href="#">Schedule |</a>
                <a class="foot-link" href="#">About |</a>
                <a class="foot-link" href="#">FAQ |</a>
                <a class="foot-link" href="#">Contact</a>
            </div>
            <div class="footer-college-name">Deen Dayal Upadhyaya College</div>
        </div>
        <div class="col-4 footer-center">
        	<br/><!--padding ki bharpai kar dega ye-->
            <div>
                <i class="fa fa-map-marker"></i>
                <div>Sector 3, Dwarka, Delhi</div>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <div>9871169186</div>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <div><a class="foot-link" href="#">DDUC_TM-mail@gmail.com</a></div>
            </div>
        </div>
        <div class="col-4 footer-right">
            <div class="footer-about">
                <h4>About this Event</h4>
                <!--<strike>   ye meri styling me kaam aega  -->
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </div>
            <div class="footer-icons">
                <a class="foot-link" href="#"><i class="fa fa-facebook"></i></a>
                <a class="foot-link" href="#"><i class="fa fa-instagram"></i></a>
                <a class="foot-link" href="#"><i class="fa fa-twitter"></i></a>
                <a class="foot-link" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="foot-link" href="#"><i class="fa fa-github"></i></a>
                <a class="foot-link" href="#"><i class="fa fa-quora"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}
    </div>
</body>
<script type="text/javascript" src="/js/particles.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</html>