{%extends 'web/home.html'%}

    {%block stylesheets%}
	    <style>
        	h2{
        		color: #00bebe;
        	}
        	input{
        		color: #00bebe;
        	}
        	i{
        		color: #00bebe;
        	}
    	</style>
    {%endblock%}
    {% block video %}{%endblock%}
    {%block main%}
    <div class='row container top'>
        <fieldset>
            <legend><h2>Registration Form</h2></legend>
            <div class="red-text right-align">*Atleast 2 Members: 1 Leader and 1 Member</div>
            {{ form.getStart() }}
                <div class="input-field col s12"> <i class="material-icons md-light prefix">account_circle</i>{{ form.getElementByName('leaderName') }}</div>
                <div class="input-field col s12"> <i class="material-icons md-light prefix">location_city</i>{{ form.getElementByName('leaderCollege') }}</div>
                <div class="input-field col s12"> <i class="material-icons md-light prefix">phone_iphone</i>{{ form.getElementByName('leaderMobile') }}</div>
                <div class="input-field col s12"> <i class="material-icons md-light prefix">mail</i>{{ form.getElementByName('leaderEmail') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">person</i>{{ form.getElementByName('member1Name') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">phone_android</i>{{ form.getElementByName('member1Number') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">person</i>{{ form.getElementByName('member2Name') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">phone_android</i>{{ form.getElementByName('member2Number') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">person</i>{{ form.getElementByName('member3Name') }}</div>
                <div class="input-field col m6 s12"> <i class="material-icons md-light prefix">phone_android</i>{{ form.getElementByName('member3Number') }}</div>
                <div>
                    <div class="col s6">
                        <div style="color:white; border-bottom: solid thin #00bebe; font-family: 'Roboto', sans-serif; font-size: 20px;">Technical</div>
                        <br/>
                        {{ form.getElementByName('Technical') }}
                    </div>
                    <div class="col s6">
                        <div style="color:white; border-bottom: solid thin #00bebe; font-family: 'Roboto', sans-serif; font-size: 20px;">Non-Technical</div>
                        <br/>
                        {{ form.getElementByName('Non-Technical') }}
                        <br/>
                        <div class="red-text">LAN-GAMING and Turncoat: On-The-Spot Registrations</div>
                    </div>
                </div>
                <div class="col s12 center">
	                <button class="btn waves-effect waves-light center" type="submit" name="Register">
	                	Register
				  	</button>
			  	</div>
            {{ form.getEnd() }}
        </fieldset>
    </div>
    {%endblock%}

    {%block contactUS%}{%endblock%}
    
    {% block scripts %}
		<script type="text/javascript">
			
            document.getElementById('member2Name').valid = true;
            document.getElementById('member2Number').valid = true;
            document.getElementById('member3Name').valid = true;
            document.getElementById('member3Number').valid = true;
            console.log(document.getElementById('member2Name').valid);

            if($(window).width() > 800){
                particlesJS.load('particles-js', '/js/particles.json', function() {
                	console.log('callback - particles.js config loaded');
            	});
            }

            function validateForm(form){
			    var check = true;

                for (var i = 0; i < 10; i++) {
                    var ele = document.forms[0].elements[i];
                    if(!ele.valid){
                        check = false;
                        Materialize.toast('Invalid ' + ele.id , 3000);
                        break;
                    }
                }

                if(check){
                    console.log($('input[type="checkbox"]:checked').length);
                    if($('input[type="checkbox"]:checked').length > 0){
                        return true;
                    }else{
                        Materialize.toast('Select atleast One Event', 3000);
                        return false;
                    }
                }else{
                    return false;
                }
			}
		</script>
	{% endblock %}