{%extends 'web/home.html'%}

    {%block stylesheets%}
	    <link href="https://fonts.googleapis.com/css?family=Nova Flat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<link rel="stylesheet" href="/css/materialize.min.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/home.css" />
        <style type="text/css">
            .slider{
                margin-bottom: 7%;
            }
        </style>
    {%endblock%}
    {%block main%}
        <div class="slider">
            <ul class="slides">
              <li>
                <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                  <h3>Left Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                  <h3>Right Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            </ul>
          </div>
    {%endblock%}
    {%block contactUS%}{%endblock%}
    {% block scripts %}
		<script type="text/javascript" src="/js/particles.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/animation.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>	
        <script type="text/javascript" src="/js/rwd.js"></script>
		<script type="text/javascript">
			$('#headline').css('display', "none");
			if($(window).width() > 800){
                particlesJS.load('particles-js', '/js/particles.json', function() {
                    console.log('callback - particles.js config loaded');
                });
            }
            $(document).ready(function(){
                $('.slider').slider({
                    interval: 3000
                });
            });
		</script>
	{% endblock %}