{%extends 'web/home.html'%}

    {%block stylesheets%}
	      <style type="text/css">
            .indicators .active{
              background-color: #00bebe !important;
            }
        </style>
    {%endblock%}
    {% block video %}{%endblock%}
    {%block main%}
        <div class="slider top">
            <ul class="slides">
              <li>
                <img src="/images/cover.jpeg"> <!-- random image -->
                <div class="caption center-align">
                  <!--<h3>Coming Soon</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
                </div>
              </li>
              <li>
                <img src="/images/cover.jpeg"> <!-- random image -->
                <div class="caption left-align">
                  <!--<h3>Coming Soon</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
                </div>
              </li>
              <li>
                <img src="/images/cover.jpeg"> <!-- random image -->
                <div class="caption right-align">
                  <!--<h3>Coming Soon</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
                </div>
              </li>
              <li>
                <img src="/images/cover.jpeg"> <!-- random image -->
                <div class="caption center-align">
                  <!--<h3>Coming Soon</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
                </div>
              </li>
            </ul>
          </div>
    {%endblock%}
    {%block contactUS%}{%endblock%}
    {% block scripts %}
		<script type="text/javascript">
      $(document).ready(function(){
          $('.slider').slider({
              interval: 3000
          });
      });
		</script>
	{% endblock %}