<!DOCTYPE html>
<html>
	<head>
		<title>{%block title%}{{ title }}{%endblock%}</title>
		{%block stylesheets%}
		<link rel="shortcut icon" href="/images/icon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Nova Flat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="/css/base.css" />
		<link rel="stylesheet" href="/css/dashboard.css" />
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
		{%endblock%}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class='row'>
			<div class='col-2' id="navbar">
				<div class="nav">
					<h2><i class="fa fa-list" aria-hidden="true" onclick="toggleMenu()"></i>TM adminPanel</h2>
					<ul id="menu">
						<a href="/adminPanel"><li class = "active" id="dash"><i class="fa fa-tv"></i>Dashboard</li></a>
						<a href="/adminPanel/events"><li id="events"><i class="fa fa-tags"></i>Events</li></a>
						<a href="/adminPanel/addEvent"><li id="addEvent"><i class="fa fa-plus-square-o"></i>Add Event</li></a>
					</ul>
				</div>
			</div>
			<div id='body' class='col-10'>
				<div class="row">
					<div id='header' class='col-12'>
						<i id="logout" class="fa fa-sign-out fa-2x" data-toggle="tooltip" title="Logout" aria-hidden="true" onclick="logout()"></i>
						<header><i class="fa fa-user fa-2x"></i>WebMaster</header>
					</div>
				</div>
				<div class="row">
					<div id='main' class='col-12'>
						
						{% block main%}
							<div id="tile">
								<div id="count">
									<span>Total Number of visitors : {{ counter }}</span>
								</div>
								
								<div id="reg">
									View Registration
									<button title="Click to show/hide content" type="button" onclick="showRegistration()" style="float:right">Show/hide</button>
								</div>
							</div>
							<div id="spoiler" style="display:none;">
								{% for key,event in registrations if event|length>0 %}
									<div style="overflow-x: auto;">
										<table>
											<tr style="background: black;color:white;">
												<td colspan="2"><b>{{ key }}</b></td>
												<td colspan="9">Registrations: {{event|length}}</td>
											</tr>
											<tr>	
												<th>Serial Number</th>
												<th>Leader Name</th>
												<th>Leader Email</th>
												<th>Leader Number</th>
												<th>College</th>
												<th>Member1Name</th>
												<th>Member1Number</th>
												<th>Member2Name</th>
												<th>Member2Number</th>
												<th>Member3Name</th>
												<th>Member3Number</th>
											</tr>
											{% for registration in event %}
												<tr>
													<td>{{registration.id}}</td>
													<td>{{registration.leaderName}}</td>
													<td>{{registration.leaderEmail}}</td>
													<td>{{registration.leaderNumber}}</td>
													<td>{{registration.college}}</td>
													<td>{{registration.member1Name}}</td>
													<td>{{registration.member1Number}}</td>
													<td>{{registration.member2Name}}</td>
													<td>{{registration.member2Number}}</td>
													<td>{{registration.member3Name}}</td>
													<td>{{registration.member3Number}}</td>
												</tr>
											{% endfor %}
										</table>
									</div>
								{%endfor%}
							</div>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<form action="/" method="post" id="logForm">
			<input type="hidden" name="logout">
		</form>
	</body>
	{% block script %}
		<script type="text/javascript">
			var path = window.location.pathname.split("/");
			if(path[2] != null){
				var ele = document.getElementById(path[2]);
				ele.className += " active";
				document.getElementById("dash").classList.remove("active");
			}
			var toogle = false;
			function toggleMenu(){
				var menu = document.getElementById("menu");
				if(toogle){
					menu.style.display = "none";
					toogle = false;
				}else{
					menu.style.display = "block";
					toogle = true;
				}
			}
			if (matchMedia) {
				const mq = window.matchMedia("(min-width: 768px)");
				mq.addListener(WidthChange);
				WidthChange(mq);
			}
				// media query change
			function WidthChange(mq) {
				if (mq.matches) {
					toogle = false;
					menu.style.display = "block";
				}else{
					menu.style.display = "none";
				}
			}
			function showRegistration(){
				
				var ele = document.getElementById('spoiler');
				if(ele.style.display=='none') {
					ele.style.display='block';
				}else{
						ele.style.display='none';
				}
			
			}
			function logout(){
				var form = document.getElementById('logForm');
				form.submit();
			}
		</script>
	{% endblock %}
</html>